h1
{
    font-size: 50px;
}

#div1
{
    display:flex;
    align-items: center;
    justify-content: center;
    line-height: 125px;
    height: 150;
    width: 200;
    border-style: solid;
    border-color: blue;
    border-top-right-radius: 80px 120px;
    margin-bottom: 10px;
}

#div2
{
    display:flex;
    align-items: center;
    justify-content: center;
    line-height: 125px;
    height: 150;
    width: 200;
    border-style: dashed;
    border-color: green;
    border-bottom-right-radius: 20px 60px;
    margin-bottom: 10px;
}

#div3
{
    display:flex;
    align-items: center;
    justify-content: center;
    line-height: 125px;
    height: 150;
    width: 200;
    border-style: double;
    border-color: red;
    border-top-left-radius: 70px 40px;
    margin-bottom: 10px;
}

.testeclasse
{
    display:flex;
    align-items: center;
    justify-content: center;
    line-height: 125px;
    height: 150;
    width: 200;
    border-style: solid;
    border-color: rgb(236, 17, 233);
    border-bottom-left-radius: 50px 30px;
    margin-bottom: 10px;
}